<!DOCTYPE html>
<html>
   <head>
      <meta charset = "ISO-8859-1" />
      <link href = "css/styles.css" rel = "stylesheet"/>
	  <script type="text/javascript" src="script/script.js"></script>
      <title>API Test Application</title>
   </head>
   <body>
<div th:switch="${apis}">
    <h2 th:case="null">No apis yet!</h2>
        <div th:case="*">
            <h2>APIs</h2>
			<span id="testResult" style="display:none">Test Ran Successfully</span><br>
            <table>
                <thead>
                    <tr>
						<th>Select</th>
                        <th>ID</th>
                        <th>Web Service Name</th>
                        <th>Web Service Url</th>
                        <th>UserName</th>
						<th>Password</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="api : ${apis}">
					<td><input type="checkbox" name="select" id="selctbox" th:onclick="addIds(this)" th:checked="${api.selected}" /></td>
                    <td th:text="${api.id}"></td>
                    <td th:text="${api.webServiceName}"></td>
                    <td th:text="${api.webServiceUrl}"></td>
					<td th:text="${api.username}"></td>
					<td th:text="${api.password}"></td>
                </tr>
            </tbody>
        </table>
    </div> 
<div style="padding-top: 15px;">	
    <button class="button button2" th:onclick="runTest()">Run</button>
	<button class="button button2" th:onclick="window.location.href='/addapiview'">Add New API</button>
	</div>
</div>
</body>
</html>